@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Silkscreen Regular";
    font-display: swap;
    src: url("../fonts/Silkscreen/Silkscreen-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Silkscreen Bold";
    font-display: swap;
    src: url("../fonts/Silkscreen/Silkscreen-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "w95fa Regular";
    font-display: swap;
    src: url("../fonts/w95fa/w95fa.woff2") format("woff2");
  }
  @font-face {
    font-family: "SD-Studio Bold";
    font-display: swap;
    src: url("../fonts/SD-Studio/SD-Studio-Bold.ttf") format("truetype"),
      url("../fonts/SD-Studio/SD-Studio-Bold.eot") format("embedded-opentype");
  }
  .silkscreen-font {
    font-family: "Silkscreen", serif;
    @apply tracking-tighter;
  }
}
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 18px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid black;
    @apply bg-zinc-400;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-indigo-300;
  }
  .dark .custom-scrollbar::-webkit-scrollbar {
    width: 18px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid white;
    @apply bg-zinc-500;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-indigo-600;
  }
}

@layer utilities {
  .custom-btn-shadow {
    box-shadow: white 4px 4px 0px -2px, black 4px 4px;
  }
  .dark .custom-btn-shadow {
    box-shadow: black 4px 4px 0px -2px, white 4px 4px;
  }

  .custom-dir {
    direction: rtl;
  }
  .pinned-blogs {
    background-image: url("../images/bg-section-light.png");
  }
  .dark .pinned-blogs {
    background-image: url("../images/bg-section-dark.png");
  }
  .post-shadow {
    box-shadow: 6px 6px 0 0 black;
  }
  .dark .post-shadow {
    box-shadow: 6px 6px 0 0 white;
  }
  .post-border-b {
    @apply border-b-[3px] border-black dark:border-white;
  }
}
