@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Silkscreen Regular";
    font-display: swap;
    src: url("../fonts/Silkscreen/Silkscreen-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "Silkscreen Bold";
    font-display: swap;
    src: url("../fonts/Silkscreen/Silkscreen-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "w95fa Regular";
    font-display: swap;
    src: url("../fonts/w95fa/w95fa.woff2") format("woff2");
  }
}
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 18px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid black;
    @apply bg-zinc-400;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-indigo-300;
  }
  .dark .custom-scrollbar::-webkit-scrollbar {
    width: 18px;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid white;
    @apply bg-zinc-500;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-indigo-600;
  }
}

@layer utilities {
  .silkscreen-font {
    font-family: "Silkscreen", serif;
    @apply tracking-tighter;
  }
  .pinned-blogs {
    background-image: url("../images/bg-section-light.png");
  }
  .dark .pinned-blogs {
    background-image: url("../images/bg-section-dark.png");
  }
}
